
   input {
  width: 85%;
}
   
    h5{
        text-align: center;
    }
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
li a {
  display: block;
  width: 60px;
  background-color: #fdfcfc;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
b {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
.topnav a {
  float: left;
  font-size: 12px;
  font-family: Arial;
  width: auto;
  
}
.navbar a {
  float: left;
  font-size: 12px;
  font-family: Arial;
  width: auto;
  
}
.center{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
    .vertical{
        display: text;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .vertical a{
      margin-top: auto;
      margin-bottom: 0px;
    }
